<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.4.1" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.4.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3719.77" targetFramework="net48" />
  <package id="Mono.HttpUtility" version="1.0.0.1" targetFramework="net48" />
  <package id="PdfPig" version="0.1.13" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Json" version="4.3.0" targetFramework="net48" />
</packages>